[submodule "reference/Jacinle"]
	path = reference/Jacinle
	url = https://github.com/vacancy/Jacinle.git
[submodule "reference/torch-toolbox"]
	path = reference/torch-toolbox
	url = https://github.com/PistonY/torch-toolbox.git
[submodule "reference/PyContrast"]
	path = reference/PyContrast
	url = https://github.com/HobbitLong/PyContrast.git
[submodule "reference/pytorch-optimizer"]
	path = reference/pytorch-optimizer
	url = https://github.com/jettify/pytorch-optimizer.git
[submodule "reference/pytorch-metric-learning"]
	path = reference/pytorch-metric-learning
	url = https://github.com/KevinMusgrave/pytorch-metric-learning.git
[submodule "reference/pypyr"]
	path = reference/pypyr
	url = https://github.com/pypyr/pypyr.git
[submodule "reference/apex"]
	path = reference/apex
	url = https://github.com/NVIDIA/apex.git
